$centerpartiet: #009933;
$kristdemokraterna: #000077;
$liberalerna: #006AB3;
$miljopartiet: #83CF39;
$moderaterna: #52BDEC;
$socialdemokraterna: #e22740;
$sverigedemokraterna: #DDDD00;
$vansterpartiet: #DA291C;

.svg-{
    &SD {
        width: 25px;
        height: auto;
        position: relative;
        top: -7px;
    }
    &C {
        width: 25px;
        height: auto;
        position: relative;
        top:-8px;
    }
    &FP {
        width: 30px;
        height: auto;
        position: relative;
        top: -5px;
    }
    &KD {
        width: 25px;
        height: auto;
        position: relative;
        top:-5px;
    }
    &L {
        width: 20px;
        height: auto;
        position: relative;
        top: -6px;
        left: 3px;
    }
    &M {
        width: 26px;
        height: auto;
        position: relative;
        top: -4px;
    }
    &MP {
        width: 30px;
        height: auto;
        position: relative;
        top: -6px;
    }
    &S {
        width: 35px;
        height: auto;
        position: relative;
        top: -5px;
        left: -3px;
    }
    &V {
        width: 28px;
        height: auto;
        position: relative;
        top: -5px;
    }
}

.vote-{
    &Ja {
        background-color: rgb(111, 207, 151);
        border-color:rgb(33, 150, 83);
    }
    &Nej  {
    background-color: rgb(235, 87, 87);
    border-color: rgb(121, 26, 26);

    }
    &Frånvarande {
        background-color: rgb(227, 228, 228);
        border-color:rgb(140, 140, 140);

    }
    &Avstår {
        background-color: rgb(255, 223, 102);
        border-color: rgb(204, 179, 51);

    }
}

.party-color- {
    &C:hover {
        background-color: $centerpartiet;
        z-index: 1;
    }

    &KD:hover {
        background-color: $kristdemokraterna;
        z-index: 1;
    }

    &FP:hover,
    &L:hover {
        background-color: $liberalerna;
        z-index: 1;
    }

    &MP:hover {
        background-color: $miljopartiet;
        z-index: 1;
    }

    &M:hover {
        background-color: $moderaterna;
        z-index: 1;
    }

    &S:hover {
        background-color: $socialdemokraterna;
        z-index: 1;
    }

    &SD:hover {
        background-color: $sverigedemokraterna;
        z-index: 1;
    }

    &V:hover {
        background-color: $vansterpartiet;
        z-index: 1;
    }
    &-:hover,
    &--:hover,
    &vilde:hover {
        background-color: #555555;
        z-index: 1;
    }
    
}

.plenisalen {
    margin: 5em auto;
    /* folket tinget 915 638*/
    // width: 638px;
    // height: 293px;


    height: 512.75px;
    width: 1116.5px;
    // background-image: url("./plenisalen.png");
    background-size: cover;
    background-color: aliceblue;
    position: relative;
}

.position {
    // height: 8px;
    // width: 8px;
    // border: 3px solid white;
    height: 8px;
    width: 8px;
    border-radius:100%;
    // border: 2px solid black;
    position:absolute;
}
.position:hover {
    cursor: pointer;
    // border: 2px solid lightslategrey;
}

[id="1"] { left: 3.9%; top: 45.6%; }
[id="2"] { left: 5.44%; top: 48.3%; }
[id="3"] { top: 53.31%; left: 8.47%; }
[id="4"] { top: 55.5%; left: 10.05%; }
[id="5"] { top: 59.79%; left: 13.49%; }
[id="6"] { top: 61.5%; left: 15.09%; }
[id="7"] { top: 65.61%; left: 18.53%; }
[id="8"] { top: 67.27%; left: 20.3%; }
[id="9"] { top: 70.31%; left: 23.97%; }
[id="10"] { top: 76.08%; left: 32.14%; }
[id="11"] { top: 72.05%; left:  25.53%; }
[id="12"] { top: 75.18%; left: 30.24%; }
[id="13"] { top: 77.45%; left: 35.72%; }
[id="14"] { top: 78.57%; left: 37.44% }
[id="15"] { top: 79.54%; left: 41.29%;    } 
[id="16"] { top: 80.32%; left: 43.35%;    } 
[id="17"] { top: 81.1%; left: 47.11%;    } 
[id="18"] { top: 80.91%; left: 49.17%;    } 
[id="19"] { top: 80.71%; left: 52.48%;    }
[id="20"] { top: 80.71%; left: 54.54%;    }
[id="21"] { top: 80.13%; left: 58.21%;    } 
[id="22"] { top: 79.54%; left: 60.09%;     }
[id="23"] {top: 78.57%; left: 63.85%;    } 
[id="24"] { top: 77.4%; left: 65.91%;    } 
[id="25"] { top: 76.24%; left: 69.17%;    }
[id="26"] { top: 74.8%; left: 71.14%;    } 
[id="27"] { top: 71.48%; left: 75.8%;    } 
[id="28"] { top: 70.12%; left: 77.5%;    } 
[id="29"] { top: 67.58%; left: 81.08%;    } 
[id="30"] { top: 65.63%; left: 82.78%;    } 
[id="31"] { top: 61.93%; left: 86.27%;    } 
[id="32"] { top: 59.79%; left: 88.15%;    } 
[id="33"] { top: 55.5%; left: 91.38%;    } 
[id="34"] { top: 52.96%; left: 93.17%;    } 
[id="35"] { top: 48.09%; left: 95.94%;    } 
[id="36"] { top: 45.17%; left: 97.64%;    } 
[id="37"] { top: 41.81%; left: 5.15%;    }
[id="38"] { top: 44.34%; left: 6.77%;    }
[id="39"] { top: 49.02%; left: 9.63%;    }
[id="40"] { top: 51.36%; left: 11.42%;    }
[id="41"] { top: 55.65%; left: 14.55%;    }
[id="42"] { top: 57.6%; left: 16.34%;    }
[id="43"] { top: 61.3%; left: 19.48%;    }
[id="44"] { top: 62.86%; left: 21.36%;    }
[id="45"] { top: 65.78%; left: 24.67%;    }
[id="46"] { top: 67.15%; left: 26.46%;    }
[id="47"] {top: 70.06%; left: 30.85%;    } 
[id="48"] {top: 71.03%; left: 32.82%;    } 
[id="49"] {top: 72.79%; left: 36.14%;    } 
[id="50"] {top: 73.57%; left: 38.02%;    } 
[id="51"] {top: 74.54%; left: 41.6%;    } 
[id="52"] {top: 74.93%; left: 43.57%;    } 
[id="53"] {top: 75.52%; left: 47.15%;    } 
[id="54"] {top: 75.91%; left: 49.03%;    } 
[id="55"] {top: 75.91%; left: 52.43%;    } 
[id="56"] {top: 75.52%; left: 54.49%;    } 
[id="57"] {top: 74.93%; left: 57.89%;    } 
[id="58"] {top: 74.54%; left: 59.86%;    } 
[id="59"] {top: 73.37%; left: 63.44%;    } 
[id="60"] {top: 72.59%; left: 65.41%;    } 
[id="61"] {top: 71.23%; left: 68.63%;    } 
[id="62"] {top: 70.06%; left: 70.6%;    } 
[id="63"] {top: 67.14%; left: 74.81%;    } 
[id="64"] {top: 65.58%; left: 76.87%;    } 
[id="65"] {top: 62.85%; left: 80.18%;    } 
[id="66"] {top: 61.09%; left: 82.06%;    } 
[id="67"] {top: 57.58%; left: 85.11%;    } 
[id="68"] {top: 55.24%; left: 86.81%;    } 
[id="69"] {top: 51.35%; left: 90.03%;    } 
[id="70"] {top: 48.81%; left: 91.73%;    } 
[id="71"] {top: 44.33%; left: 94.6%;    } 
[id="72"] {top: 41.4%; left: 96.12%;    } 
[id="73"] { top: 37.42%; left: 6.84%; }
[id="74"] {top: 40.73%; left: 8.45%;    }
[id="75"] {top: 44.43%; left: 11.05%;    }
[id="76"] {top: 47.16%; left: 12.75%;    }
[id="77"] {top: 51.06%; left: 15.79%;    }
[id="78"] {top: 53.21%; left: 17.31%;    }
[id="79"] {top: 56.52%; left: 20.54%;    }
[id="80"] {top: 58.27%; left: 22.33%;    }
[id="81"] {top: 61%; left: 25.55%;    }
[id="82"] {top: 62.56%; left: 27.34%;    }
[id="83"] {top: 65.1%; left: 31.55%;    }
[id="84"] {top: 66.46%; left: 33.43%;    }
[id="85"] {top: 67.44%; left: 36.65%;    }
[id="86"] {top: 68.21%; left: 38.53%;    }
[id="87"] {top: 69.38%; left: 41.93%;    }
[id="88"] {top: 69.77%; left: 43.81%;    }
[id="89"] {top: 70.55%; left: 47.31%;    }
[id="90"] {top: 70.75%; left: 49.19%;    }
[id="91"] {top: 70.55%; left: 52.41%;    }
[id="92"] {top: 70.55%; left: 54.29%;    }
[id="93"] {top: 69.97%; left: 57.78%;    }
[id="94"] {top: 69.58%; left: 59.57%;    }
[id="95"] { top: 68.54%; left: 62.85%;    }
[id="96"] { top: 67.76%; left: 65%;    }
[id="97"] { top: 66.39%; left: 67.86%;    }
[id="98"] { top: 65.22%; left: 69.92%;    }
[id="99"] { top: 62.3%; left: 73.95%;    }
[id="100"] { top: 61.13%; left: 75.92%;    }
[id="101"] { top: 58.4%; left: 78.96%;    }
[id="102"] { top: 56.73%; left: 81.01%;    } 
[id="103"] { top: 53.22%; left: 84.05%;    } 
[id="104"] { top: 51.08%; left: 85.84%;    } 
[id="105"] { top: 47.18%; left: 88.7%;    } 
[id="106"] { top: 44.45%; left: 90.41%;    } 
[id="107"] { top: 40.55%; left: 93%;    } 
[id="108"] { top: 37.63%; left: 94.61%;    } 
[id="109"] { top: 33.54%; left: 8.22%;    } 
[id="110"] {top: 36.66%; left: 9.92%;    } 
[id="111"] { top: 40.55%; left: 12.34%;    } 
[id="112"] { top: 43.28%; left: 14.04%;    } 
[id="113"] { top: 46.6%; left: 16.82%;    } 
[id="114"] { top: 48.94%; left: 18.61%;    } 
[id="115"] { top: 52.06%; left: 21.47%;    } 
[id="116"] { top: 53.81%; left: 23.44%;    } 
[id="117"] { top: 56.34%; left: 26.22%;    } 
[id="118"] { top: 57.71%; left: 28.19%;    } 
[id="119"] { top: 60.24%; left: 32.12%;    } 
[id="120"] { top: 61.61%; left: 34.27%;    } 
[id="121"] { top: 62.58%; left: 36.96%;    } 
[id="122"] { top: 63.36%; left: 39.02%;    } 
[id="123"] { top: 64.34%; left: 42.06%;    } 
[id="124"] { top: 64.92%; left: 44.21%;    } 
[id="125"] { top: 65.31%; left: 47.16%;    } 
[id="126"] { top: 65.7%; left: 49.4%;    } 
[id="127"] { top: 65.51%; left: 52.18%;    } 
[id="128"] { top: 65.51%; left: 54.33%;    } 
[id="129"] { top: 65.12%; left: 57.28%;    } 
[id="130"] { top: 64.53%; left: 59.34%;    } 
[id="131"] { top: 63.36%; left: 62.47%;    } 
[id="132"] {  top: 62.77%; left: 64.27%; } 
[id="133"] { top: 61.41%; left: 67.31%; } 
[id="134"] {  top: 60.24%; left: 69.37%; } 
[id="135"] {  top: 57.71%; left: 73.22%; } 
[id="136"] {  top: 56.15%; left: 75.28%; } 
[id="137"] {  top: 53.61%; left: 78.14%; } 
[id="138"] { top: 51.86%; left: 80.11%; }
[id="139"] { top: 48.65%; left: 83%;    } 
[id="140"] { top: 46.7%; left: 84.7%;    } 
[id="141"] { top: 42.8%; left: 87.47%;    } 
[id="142"] { top: 40.66%; left: 89.18%;    } 
[id="143"] { top: 36.57%; left: 91.59%;    } 
[id="144"] { top: 33.64%; left: 93.29%;    } 
[id="145"] { top: 29.55%; left: 9.86%;    } 
[id="146"] { top: 32.67%; left: 11.47%;    } 
[id="147"] { top: 35.98%; left: 13.79%;    } 
[id="148"] { top: 38.71%; left: 15.41%;    } 
[id="149"] { top: 42.02%; left: 18%;    } 
[id="150"] { top: 43.97%; left: 19.79%;    } 
[id="151"] { top: 46.9%; left: 22.48%;    } 
[id="152"] { top: 48.85%; left: 24.45%;    } 
[id="153"] { top: 51.19%; left: 27.13%;    } 
[id="154"] { top: 52.94%; left: 28.92%;    } 
[id="155"] { top: 55.28%; left: 32.95%;    } 
[id="156"] { top: 56.45%; left: 34.83%;    } 
[id="157"] { top: 57.31%; left: 37.58%;    } 
[id="158"] { top: 58.48%; left: 39.55%;    } 
[id="159"] { top: 59.26%; left: 42.5%;    } 
[id="160"] { top: 59.65%; left: 44.38%;    } 
[id="161"] { top: 60.23%; left: 47.34%;    } 
[id="162"] { top: 60.35%; left: 49.48%;    } 
[id="163"] { top: 60.35%; left: 52.17%;    } 
[id="164"] { top: 60.35%; left: 54.14%;    } 
[id="165"] { top: 59.77%; left: 57.18%;    } 
[id="166"] { top: 59.19%; left: 59.15%;    } 
[id="167"] { top: 58.41%; left: 62.01%;    } 
[id="168"] { top: 57.57%; left: 63.9%;    } 
[id="169"] { top: 56.6%; left: 66.67%;    } 
[id="170"] { top: 55.23%; left: 68.64%;    } 
[id="171"] { top: 52.7%; left: 72.4%;    } 
[id="172"] { top: 51.14%; left: 74.28%;    } 
[id="173"] { top: 48.8%; left: 77.15%;    } 
[id="174"] { top: 47.24%; left: 78.94%;    } 
[id="175"] { top: 44.12%; left: 81.8%;    } 
[id="176"] { top: 42.17%; left: 83.5%;    } 
[id="177"] { top: 38.47%; left: 86.1%;    } 
[id="178"] { top: 36.33%; left: 87.71%;    } 
[id="179"] { top: 32.23%; left: 90.04%;    } 
[id="180"] { top: 29.7%; left: 91.65%;    } 
[id="181"] { top: 24.11%; left: 12.98%;    } 
[id="182"] { top: 27.03%; left: 14.6%;    } 
[id="183"] { top: 31.52%; left: 17.28%;    } 
[id="184"] { top: 33.66%; left: 19.07%;    } 
[id="185"] { top: 37.56%; left: 22.29%;    } 
[id="186"] { top: 39.7%; left: 24.09%;    } 
[id="187"] { top: 42.82%; left: 27.49%;    } 
[id="188"] { top: 44.38%; left: 29.37%;    } 
[id="189"] { top: 47.5%; left: 33.84%;    } 
[id="190"] { top: 48.67%; left: 35.81%;    } 
[id="191"] { top: 50.23%; left: 39.3%;    } 
[id="192"] { top: 51.01%; left: 41.36%;    } 
[id="193"] { top: 51.59%; left: 44.68%;    } 
[id="194"] { top: 51.98%; left: 46.74%;    } 
[id="195"] { top: 51.98%; left: 49.78%;    } 
[id="196"] { top: 52.18%; left: 51.75%;    } 
[id="197"] { top: 51.98%; left: 54.88%;    } 
[id="198"] { top: 51.59%; left: 56.76%;    } 
[id="199"] { top: 51.01%; left: 60.25%;    } 
[id="200"] { top: 50.23%; left: 62.04%;    } 
[id="201"] { top: 48.48%; left: 65.71%;    } 
[id="202"] { top: 47.5%; left: 67.59%;    } 
[id="203"] { top: 44.19%; left: 72.34%;    } 
[id="204"] { top: 42.82%; left: 74.04%;    } 
[id="205"] { top: 39.51%; left: 77.44%;    } 
[id="206"] { top: 37.56%; left: 79.23%;    } 
[id="207"] { top: 33.66%; left: 82.46%;    } 
[id="208"] { top: 31.32%; left: 84.07%;    } 
[id="209"] { top: 26.84%; left: 86.84%;    } 
[id="210"] { top: 24.11%; left: 88.45%;    } 
[id="211"] { top: 19.8%; left: 14.46%;    } 
[id="212"] { top: 22.92%; left: 16.07%;    } 
[id="213"] { top: 27.01%; left: 18.49%;    } 
[id="214"] { top: 29.54%; left: 20.37%;    } 
[id="215"] { top: 32.86%; left: 23.32%;    } 
[id="216"] { top: 35%; left: 25.2%;    } 
[id="217"] { top: 37.93%; left: 28.33%;    } 
[id="218"] { top: 39.49%; left: 30.13%;    } 
[id="219"] { top: 42.21%; left: 34.42%;    } 
[id="220"] { top: 43.58%; left: 36.39%;    } 
[id="221"] { top: 45.14%; left: 39.7%;    } 
[id="222"] { top: 45.92%; left: 41.67%;    } 
[id="223"] { top: 46.5%; left: 44.81%;    } 
[id="224"] { top: 46.7%; left: 46.87%;    } 
[id="225"] { top: 46.89%; left: 49.73%;    } 
[id="226"] {top: 47.28%; left: 51.7%;    } 
[id="227"] { top: 46.7%; left: 54.66%;    } 
[id="228"] { top: 46.31%; left: 56.62%;    } 
[id="229"] { top: 45.92%; left: 59.85%;    } 
[id="230"] { top: 45.33%; left: 61.73%;    } 
[id="231"] { top: 43.58%; left: 65.04%;    } 
[id="232"] { top: 42.41%; left: 67.01%;    } 
[id="233"] { top: 39.68%; left: 71.31%;    } 
[id="234"] { top: 37.73%; left: 73.28%;    } 
[id="235"] { top: 35%; left: 76.32%;    } 
[id="236"] { top: 32.86%; left: 78.2%;    } 
[id="237"] { top: 29.35%; left: 81.07%;    } 
[id="238"] { top: 27.01%; left: 82.77%;    } 
[id="239"] { top: 22.72%; left: 85.36%;    } 
[id="240"] { top: 20.19%; left: 87.06%;    } 
[id="241"] { top: 16.14%; left: 15.89%;    } 
[id="242"] { top: 18.87%; left: 17.5%;    } 
[id="243"] { top: 22.77%; left: 20%;    } 
[id="244"] { top: 25.3%; left: 21.62%;    } 
[id="245"] { top: 28.42%; left: 24.48%;    } 
[id="246"] { top: 30.57%; left: 26.27%;    } 
[id="247"] { top: 33.1%; left: 29.22%;    } 
[id="248"] { top: 34.66%; left: 31.02%;    } 
[id="249"] { top: 37.58%; left: 35.13%;    } 
[id="250"] { top: 38.75%; left: 37.1%;    } 
[id="251"] { top: 40.12%; left: 40.15%;    } 
[id="252"] { top: 41.09%; left: 42.12%;    } 
[id="253"] { top: 41.48%; left: 45.07%;    } 
[id="254"] { top: 41.68%; left: 47.04%;    } 
[id="255"] { top: 41.87%; left: 49.73%;    } 
[id="256"] { top: 42.07%; left: 51.79%;    } 
[id="257"] { top: 41.68%; left: 54.47%;    } 
[id="258"] { top: 41.48%; left: 56.53%;    } 
[id="259"] { top: 40.9%; left: 59.48%;    } 
[id="260"] { top: 40.31%; left: 61.27%;    } 
[id="261"] { top: 38.75%; left: 64.41%;    } 
[id="262"] { top: 37.39%; left: 66.38%;    } 
[id="263"] { top: 34.85%; left: 70.41%;    } 
[id="264"] { top: 33.29%; left: 72.29%;    } 
[id="265"] { top: 30.57%; left: 75.24%;    } 
[id="266"] { top: 28.42%; left: 77.03%;    } 
[id="267"] { top: 25.11%; left: 79.81%;    } 
[id="268"] { top: 22.57%; left: 81.69%;    } 
[id="269"] { top: 18.67%; left: 83.92%;    } 
[id="270"] { top: 16.34%; left: 85.45%;    } 
[id="271"] { top: 11.98%; left: 17.41%;    } 
[id="272"] { top: 14.71%; left: 18.93%;    } 
[id="273"] { top: 18.41%; left: 21.26%;    } 
[id="274"] { top: 20.56%; left: 22.78%;    } 
[id="275"] { top: 23.68%; left: 25.47%;    } 
[id="276"] { top: 25.82%; left: 27.35%;    } 
[id="277"] { top: 28.36%; left: 30.12%;    } 
[id="278"] { top: 30.11%; left: 31.91%;    } 
[id="279"] { top: 32.45%; left: 35.85%;    } 
[id="280"] { top: 33.81%; left: 37.73%;    } 
[id="281"] { top: 34.98%; left: 40.51%;    } 
[id="282"] { top: 35.76%; left: 42.57%;    } 
[id="283"] { top: 36.35%; left: 45.34%;    } 
[id="284"] { top: 36.54%; left: 47.13%;    } 
[id="285"] { top: 36.74%; left: 49.82%;    } 
[id="286"] { top: 36.93%; left: 51.7%;    } 
[id="287"] { top: 36.54%; left: 54.38%;    } 
[id="288"] { top: 36.15%; left: 56.35%;    } 
[id="289"] { top: 35.76%; left: 59.13%;    } 
[id="290"] { top: 34.98%; left: 61.1%;    } 
[id="291"] { top: 33.62%; left: 63.78%;    } 
[id="292"] { top: 32.45%; left: 65.66%;    } 
[id="293"] { top: 29.92%; left: 69.6%;    } 
[id="294"] { top: 28.36%; left: 71.3%;    } 
[id="295"] { top: 25.82%; left: 74.26%;    } 
[id="296"] { top: 23.87%; left: 75.96%;    } 
[id="297"] { top: 20.75%; left: 78.65%;    } 
[id="298"] { top: 18.41%; left: 80.26%;    } 
[id="299"] { top: 14.52%; left: 82.5%;    } 
[id="300"] { top: 11.98%; left: 84.02%;    } 
[id="301"] { top: 5.33%; left: 30.26%;    } 
[id="302"] { top: 9.04%; left: 31.15%;    } 
[id="303"] {top: 12.16%; left: 32.14%;    } 
[id="304"] { top: 15.08%; left: 33.48%;    } 
[id="305"] { top: 17.61%; left: 34.91%;    } 
[id="306"] { top: 19.76%; left: 36.43%;    } 
[id="307"] { top: 21.71%; left: 38.05%;    } 
[id="308"] { top: 23.46%; left: 39.66%;    } 
[id="309"] { top: 24.83%; left: 41.45%;    } 
[id="310"] { top: 25.8%; left: 43.24%;    } 
[id="311"] { top: 26.58%; left: 45.03%;    } 
[id="312"] { top: 27.36%; left: 46.82%;    } 
[id="313"] { top: 27.56%; left: 48.7%;    } 
[id="314"] { top: 27.75%; left: 52.73%;    } 
[id="315"] { top: 27.17%; left: 54.7%;    } 
[id="316"] {top: 26.58%; left: 56.49%;    } 
[id="317"] { top: 25.8%; left: 58.28%;    } 
[id="318"] { top: 24.63%; left: 60.07%;    } 
[id="319"] { top: 23.46%; left: 61.77%;    } 
[id="320"] { top: 21.71%; left: 63.47%;    } 
[id="321"] { top: 19.76%; left: 65.08%;    } 
[id="322"] { top: 17.42%; left: 66.6%;    } 
[id="323"] { top: 14.89%; left: 68.13%;    } 
[id="324"] { top: 11.96%; left: 69.38%;    } 
[id="325"] { top: 8.84%; left: 70.45%;    } 
[id="326"] { top: 5.33%; left: 71.26%;    } 
[id="327"] { top: 1.44%; left: 71.71%;    } 
[id="328"] { top: 0.46%; left: 33.48%;    } 
[id="329"] { top: 4.55%; left: 34.2%;    } 
[id="330"] { top: 7.67%; left: 35.27%;    } 
[id="331"] { top: 10.4%; left: 36.52%;    } 
[id="332"] { top: 12.94%; left: 38.13%;    } 
[id="333"] { top: 14.69%; left: 39.75%;    } 
[id="334"] { top: 16.25%; left: 41.36%;    } 
[id="335"] { top: 17.61%; left: 43.15%;    } 
[id="336"] { top: 18.59%; left: 45.03%;    } 
[id="337"] { top: 19.17%; left: 46.82%;    } 
[id="338"] { top: 19.76%; left: 48.7%;    } 
[id="339"] { top: 19.76%; left: 52.82%;    } 
[id="340"] { top: 19.37%; left: 54.7%;    } 
[id="341"] { top: 18.59%; left: 56.49%;    } 
[id="342"] { top: 17.61%; left: 58.28%;    } 
[id="343"] { top: 16.45%; left: 60.07%;    } 
[id="344"] { top: 14.69%; left: 61.77%;    } 
[id="345"] { top: 12.74%; left: 63.38%;    } 
[id="346"] { top: 10.6%; left: 64.81%;    } 
[id="347"] { top: 7.67%; left: 66.25%;    } 
[id="348"] { top: 4.36%; left: 67.32%;    } 
[id="349"] { top: 0.46%; left: 67.95%;    } 
