{% include 'header.html' %}
<body>
    <!--
        Filter by political party / coalition 
    -->
    <select id="year" onchange="updateBillsByYear()">
        <option value="" disabled selected>Select Year</option>
        {%for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {%endfor%}
    </select>
    <select style="width: 50%;" name="" id="bill" onchange="updateSubBillsByBill()">
        <option value="" disabled selected>Select Bill</option>

    </select>
    <select name="" id="sub-bill" onchange="updatePlenisalen()">
        <option value="" disabled selected>Select Point</option>

    </select>

    <p class="bill-info"></p>
    <div id="plenisalen" class="plenisalen">
        <!-- {{len}} -->
        {%for item in data.votes %}
             <div id="{{item.member.placement}}" class="position party-color-{{item.member.party}} vote-{{item.vote}}"></div> 
        {%endfor%}
    </div>
        <!-- <div id="2" class="position party-color"></div>
        <div id="3" class="position party-color"></div>
        <div id="4" class="position party-color"></div>
        <div id="5" class="position party-color"></div>
        <div id="6" class="position party-color"></div>
        <div id="7" class="position party-color"></div>
        <div id="8" class="position party-color"></div>
        <div id="9" class="position party-color"></div>
        <div id="10" class="position party-color"></div>
        <div id="11" class="position party-color"></div>
        <div id="12" class="position party-color"></div>
        <div id="13" class="position party-color"></div>
        <div id="14" class="position party-color"></div>
        <div id="15" class="position party-color"></div>
        <div id="16" class="position party-color"></div>
        <div id="17" class="position party-color"></div>
        <div id="18" class="position party-color"></div>
        <div id="19" class="position party-color"></div>
        <div id="20" class="position party-color"></div>
        <div id="21" class="position party-color"></div>
        <div id="22" class="position party-color"></div>
        <div id="23" class="position party-color"></div>
        <div id="24" class="position party-color"></div>
        <div id="25" class="position party-color"></div>
        <div id="26" class="position party-color"></div>
        <div id="27" class="position party-color"></div>
        <div id="28" class="position party-color"></div>
        <div id="29" class="position party-color"></div>
        <div id="30" class="position party-color"></div>
        <div id="31" class="position party-color"></div>
        <div id="32" class="position party-color"></div>
        <div id="33" class="position party-color"></div>
        <div id="34" class="position party-color"></div>
        <div id="35" class="position party-color"></div>
        <div id="36" class="position party-color"></div>
        <div id="37" class="position party-color"></div>
        <div id="38" class="position party-color"></div>
        <div id="39" class="position party-color"></div>
        <div id="40" class="position party-color"></div>
        <div id="41" class="position party-color"></div>
        <div id="42" class="position party-color"></div>
        <div id="43" class="position party-color"></div>
        <div id="44" class="position party-color"></div>
        <div id="45" class="position party-color"></div>
        <div id="46" class="position party-color"></div>
        <div id="47" class="position party-color"></div>
        <div id="48" class="position party-color"></div>
        <div id="49" class="position party-color"></div>
        <div id="50" class="position party-color"></div>
        <div id="51" class="position party-color"></div>
        <div id="52" class="position party-color"></div>
        <div id="53" class="position party-color"></div>
        <div id="54" class="position party-color"></div>
        <div id="55" class="position party-color"></div>
        <div id="56" class="position party-color"></div>
        <div id="57" class="position party-color"></div>
        <div id="58" class="position party-color"></div>
        <div id="59" class="position party-color"></div>
        <div id="60" class="position party-color"></div>
        <div id="61" class="position party-color"></div>
        <div id="62" class="position party-color"></div>
        <div id="63" class="position party-color"></div>
        <div id="64" class="position party-color"></div>
        <div id="65" class="position party-color"></div>
        <div id="66" class="position party-color"></div>
        <div id="67" class="position party-color"></div>
        <div id="68" class="position party-color"></div>
        <div id="69" class="position party-color"></div>
        <div id="70" class="position party-color"></div>
        <div id="71" class="position party-color"></div>
        <div id="72" class="position party-color"></div>
        <div id="73" class="position party-color"></div>
        <div id="74" class="position party-color"></div>
        <div id="75" class="position party-color"></div>
        <div id="76" class="position party-color"></div>
        <div id="77" class="position party-color"></div>
        <div id="78" class="position party-color"></div>
        <div id="79" class="position party-color"></div>
        <div id="80" class="position party-color"></div>
        <div id="81" class="position party-color"></div>
        <div id="82" class="position party-color"></div>
        <div id="83" class="position party-color"></div>
        <div id="84" class="position party-color"></div>
        <div id="85" class="position party-color"></div>
        <div id="86" class="position party-color"></div>
        <div id="87" class="position party-color"></div>
        <div id="88" class="position party-color"></div>
        <div id="89" class="position party-color"></div>
        <div id="90" class="position party-color"></div>
        <div id="91" class="position party-color"></div>
        <div id="92" class="position party-color"></div>
        <div id="93" class="position party-color"></div>
        <div id="94" class="position party-color"></div>
        <div id="95" class="position party-color"></div>
        <div id="96" class="position party-color"></div>
        <div id="97" class="position party-color"></div>
        <div id="98" class="position party-color"></div>
        <div id="99" class="position party-color"></div>
        <div id="100" class="position party-color"></div>
        <div id="101" class="position party-color"></div>
        <div id="102" class="position party-color"></div>
        <div id="103" class="position party-color"></div>
        <div id="104" class="position party-color"></div>
        <div id="105" class="position party-color"></div>
        <div id="106" class="position party-color"></div>
        <div id="107" class="position party-color"></div>
        <div id="108" class="position party-color"></div>
        <div id="109" class="position party-color"></div>
        <div id="110" class="position party-color"></div>
        <div id="111" class="position party-color"></div>
        <div id="112" class="position party-color"></div>
        <div id="113" class="position party-color"></div>
        <div id="114" class="position party-color"></div>
        <div id="115" class="position party-color"></div>
        <div id="116" class="position party-color"></div>
        <div id="117" class="position party-color"></div>
        <div id="118" class="position party-color"></div>
        <div id="119" class="position party-color"></div>
        <div id="120" class="position party-color"></div>
        <div id="121" class="position party-color"></div>
        <div id="122" class="position party-color"></div>
        <div id="123" class="position party-color"></div>
        <div id="124" class="position party-color"></div>
        <div id="125" class="position party-color"></div>
        <div id="126" class="position party-color"></div>
        <div id="127" class="position party-color"></div>
        <div id="128" class="position party-color"></div>
        <div id="129" class="position party-color"></div>
        <div id="130" class="position party-color"></div>
        <div id="131" class="position party-color"></div>
        <div id="132" class="position party-color"></div>
        <div id="133" class="position party-color"></div>
        <div id="134" class="position party-color"></div>
        <div id="135" class="position party-color"></div>
        <div id="136" class="position party-color"></div>
        <div id="137" class="position party-color"></div>
        <div id="138" class="position party-color"></div>
        <div id="139" class="position party-color"></div>
        <div id="140" class="position party-color"></div>
        <div id="141" class="position party-color"></div>
        <div id="142" class="position party-color"></div>
        <div id="143" class="position party-color"></div>
        <div id="144" class="position party-color"></div>
        <div id="145" class="position party-color"></div>
        <div id="146" class="position party-color"></div>
        <div id="147" class="position party-color"></div>
        <div id="148" class="position party-color"></div>
        <div id="149" class="position party-color"></div>
        <div id="150" class="position party-color"></div>
        <div id="151" class="position party-color"></div>
        <div id="152" class="position party-color"></div>
        <div id="153" class="position party-color"></div>
        <div id="154" class="position party-color"></div>
        <div id="155" class="position party-color"></div>
        <div id="156" class="position party-color"></div>
        <div id="157" class="position party-color"></div>
        <div id="158" class="position party-color"></div>
        <div id="159" class="position party-color"></div>
        <div id="160" class="position party-color"></div>
        <div id="161" class="position party-color"></div>
        <div id="162" class="position party-color"></div>
        <div id="163" class="position party-color"></div>
        <div id="164" class="position party-color"></div>
        <div id="165" class="position party-color"></div>
        <div id="166" class="position party-color"></div>
        <div id="167" class="position party-color"></div>
        <div id="168" class="position party-color"></div>
        <div id="169" class="position party-color"></div>
        <div id="170" class="position party-color"></div>
        <div id="171" class="position party-color"></div>
        <div id="172" class="position party-color"></div>
        <div id="173" class="position party-color"></div>
        <div id="174" class="position party-color"></div>
        <div id="175" class="position party-color"></div>
        <div id="176" class="position party-color"></div>
        <div id="177" class="position party-color"></div>
        <div id="178" class="position party-color"></div>
        <div id="179" class="position party-color"></div>
        <div id="180" class="position party-color"></div>
        <div id="181" class="position party-color"></div>
        <div id="182" class="position party-color"></div>
        <div id="183" class="position party-color"></div>
        <div id="184" class="position party-color"></div>
        <div id="185" class="position party-color"></div>
        <div id="186" class="position party-color"></div>
        <div id="187" class="position party-color"></div>
        <div id="188" class="position party-color"></div>
        <div id="189" class="position party-color"></div>
        <div id="190" class="position party-color"></div>
        <div id="191" class="position party-color"></div>
        <div id="192" class="position party-color"></div>
        <div id="193" class="position party-color"></div>
        <div id="194" class="position party-color"></div>
        <div id="195" class="position party-color"></div>
        <div id="196" class="position party-color"></div>
        <div id="197" class="position party-color"></div>
        <div id="198" class="position party-color"></div>
        <div id="199" class="position party-color"></div>
        <div id="200" class="position party-color"></div>
        <div id="201" class="position party-color"></div>
        <div id="202" class="position party-color"></div>
        <div id="203" class="position party-color"></div>
        <div id="204" class="position party-color"></div>
        <div id="205" class="position party-color"></div>
        <div id="206" class="position party-color"></div>
        <div id="207" class="position party-color"></div>
        <div id="208" class="position party-color"></div>
        <div id="209" class="position party-color"></div>
        <div id="210" class="position party-color"></div>
        <div id="211" class="position party-color"></div>
        <div id="212" class="position party-color"></div>
        <div id="213" class="position party-color"></div>
        <div id="214" class="position party-color"></div>
        <div id="215" class="position party-color"></div>
        <div id="216" class="position party-color"></div>
        <div id="217" class="position party-color"></div>
        <div id="218" class="position party-color"></div>
        <div id="219" class="position party-color"></div>
        <div id="220" class="position party-color"></div>
        <div id="221" class="position party-color"></div>
        <div id="222" class="position party-color"></div>
        <div id="223" class="position party-color"></div>
        <div id="224" class="position party-color"></div>
        <div id="225" class="position party-color"></div>
        <div id="226" class="position party-color"></div>
        <div id="227" class="position party-color"></div>
        <div id="228" class="position party-color"></div>
        <div id="229" class="position party-color"></div>
        <div id="230" class="position party-color"></div>
        <div id="231" class="position party-color"></div>
        <div id="232" class="position party-color"></div>
        <div id="233" class="position party-color"></div>
        <div id="234" class="position party-color"></div>
        <div id="235" class="position party-color"></div>
        <div id="236" class="position party-color"></div>
        <div id="237" class="position party-color"></div>
        <div id="238" class="position party-color"></div>
        <div id="239" class="position party-color"></div>
        <div id="240" class="position party-color"></div>
        <div id="241" class="position party-color"></div>
        <div id="242" class="position party-color"></div>
        <div id="243" class="position party-color"></div>
        <div id="244" class="position party-color"></div>
        <div id="245" class="position party-color"></div>
        <div id="246" class="position party-color"></div>
        <div id="247" class="position party-color"></div>
        <div id="248" class="position party-color"></div>
        <div id="249" class="position party-color"></div>
        <div id="250" class="position party-color"></div>
        <div id="251" class="position party-color"></div>
        <div id="252" class="position party-color"></div>
        <div id="253" class="position party-color"></div>
        <div id="254" class="position party-color"></div>
        <div id="255" class="position party-color"></div>
        <div id="256" class="position party-color"></div>
        <div id="257" class="position party-color"></div>
        <div id="258" class="position party-color"></div>
        <div id="259" class="position party-color"></div>
        <div id="260" class="position party-color"></div>
        <div id="261" class="position party-color"></div>
        <div id="262" class="position party-color"></div>
        <div id="263" class="position party-color"></div>
        <div id="264" class="position party-color"></div>
        <div id="265" class="position party-color"></div>
        <div id="266" class="position party-color"></div>
        <div id="267" class="position party-color"></div>
        <div id="268" class="position party-color"></div>
        <div id="269" class="position party-color"></div>
        <div id="270" class="position party-color"></div>
        <div id="271" class="position party-color"></div>
        <div id="272" class="position party-color"></div>
        <div id="273" class="position party-color"></div>
        <div id="274" class="position party-color"></div>
        <div id="275" class="position party-color"></div>
        <div id="276" class="position party-color"></div>
        <div id="277" class="position party-color"></div>
        <div id="278" class="position party-color"></div>
        <div id="279" class="position party-color"></div>
        <div id="280" class="position party-color"></div>
        <div id="281" class="position party-color"></div>
        <div id="282" class="position party-color"></div>
        <div id="283" class="position party-color"></div>
        <div id="284" class="position party-color"></div>
        <div id="285" class="position party-color"></div>
        <div id="286" class="position party-color"></div>
        <div id="287" class="position party-color"></div>
        <div id="288" class="position party-color"></div>
        <div id="289" class="position party-color"></div>
        <div id="290" class="position party-color"></div>
        <div id="291" class="position party-color"></div>
        <div id="292" class="position party-color"></div>
        <div id="293" class="position party-color"></div>
        <div id="294" class="position party-color"></div>
        <div id="295" class="position party-color"></div>
        <div id="296" class="position party-color"></div>
        <div id="297" class="position party-color"></div>
        <div id="298" class="position party-color"></div>
        <div id="299" class="position party-color"></div>
        <div id="300" class="position party-color"></div>
        <div id="301" class="position party-color"></div>
        <div id="302" class="position party-color"></div>
        <div id="303" class="position party-color"></div>
        <div id="304" class="position party-color"></div>
        <div id="305" class="position party-color"></div>
        <div id="306" class="position party-color"></div>
        <div id="307" class="position party-color"></div>
        <div id="308" class="position party-color"></div>
        <div id="309" class="position party-color"></div>
        <div id="310" class="position party-color"></div>
        <div id="311" class="position party-color"></div>
        <div id="312" class="position party-color"></div>
        <div id="313" class="position party-color"></div>
        <div id="314" class="position party-color"></div>
        <div id="315" class="position party-color"></div>
        <div id="316" class="position party-color"></div>
        <div id="317" class="position party-color"></div>
        <div id="318" class="position party-color"></div>
        <div id="319" class="position party-color"></div>
        <div id="320" class="position party-color"></div>
        <div id="321" class="position party-color"></div>
        <div id="322" class="position party-color"></div>
        <div id="323" class="position party-color"></div>
        <div id="324" class="position party-color"></div>
        <div id="325" class="position party-color"></div>
        <div id="326" class="position party-color"></div>
        <div id="327" class="position party-color"></div>
        <div id="328" class="position party-color"></div>
        <div id="329" class="position party-color"></div>
        <div id="330" class="position party-color"></div>
        <div id="331" class="position party-color"></div>
        <div id="332" class="position party-color"></div>
        <div id="333" class="position party-color"></div>
        <div id="334" class="position party-color"></div>
        <div id="335" class="position party-color"></div>
        <div id="336" class="position party-color"></div>
        <div id="337" class="position party-color"></div>
        <div id="338" class="position party-color"></div>
        <div id="339" class="position party-color"></div>
        <div id="340" class="position party-color"></div>
        <div id="341" class="position party-color"></div>
        <div id="342" class="position party-color"></div>
        <div id="343" class="position party-color"></div>
        <div id="344" class="position party-color"></div>
        <div id="345" class="position party-color"></div>
        <div id="346" class="position party-color"></div>
        <div id="347" class="position party-color"></div>
        <div id="348" class="position party-color"></div>
        <div id="349" class="position party-color"></div> -->
</body>
<script>
    let year = ""
    async function updateBillsByYear(){
        year = document.getElementById('year').value;
        if (!year) return;

        const response = await fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ data_type: "bills", year: year })
        })
        const bills = await response.json();

        const billSelected = document.getElementById('bill')
        billSelected.innerHTML = '<option value="">Select Bill</option>';
        
        bills.forEach(bill => {
            
            billSelected.innerHTML += `<option value="${bill.report}">${bill.report} | ${bill.name}</option>`;
        });
    }

    async function updateSubBillsByBill() {
        const billReport = document.getElementById('bill').value
        
        if (!billReport) return;
        
        const response = await fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ "data_type": "bill_report", "bill_report": billReport, "year": year })
        });

        const subBills = await response.json()

        console.log(subBills);
        
        const subBillSelect = document.getElementById('sub-bill')
        subBillSelect.innerHTML = '<option value="">Select Sub-bill</option>';

        subBills.forEach(subBill => {
            subBillSelect.innerHTML += `<option value="${subBill.id}">${subBill.point}</option>`;
        })
    }
    async function updatePlenisalen() {
        const billId = document.getElementById('sub-bill').value
        if (!billId) return;
        const response = await fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ data_type: "votes", bill_id: billId})
        });
        const data = await response.json()

        const plenisalenDiv = document.getElementById('plenisalen')
        const billInfo = document.getElementById('bill-info')
        console.log(data);
        
        plenisalenDiv.innerHTML = ''
        // billInfo.innerHTML = `${votes.date}`

         data.votes.forEach(vote => {
            plenisalenDiv.innerHTML += `
            <div id="${vote.member.placement}" class="position party-color-${vote.member.party} vote-${vote.vote}"></div> 
        `;
        });
    }
</script>
{% include 'footer.html' %}